/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


// COLOURS

$blue: #0086CD;
$orange: #EF7D00;
$red: #E30613;
$yellow: #FFEC38;
$green: #86BC25;
$brown: #53160A;
$grey: #4E5051;
$white: #ffffff;
// SHADOWS

$shadow : 0 2px 5px 0 rgba(0, 0, 0, 0.26);


// PADDING

$logoCardPadding: 10px 10px 10px 10px;
$cardPadding: 16px 16px 16px 16px;
$h1Padding: 8px 8px 8px 8px;

//FONTS

h1 {
	font-family: "Futura", Helvetica, Arial, sans-serif;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
h3 {
	font-family: "Futura", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
p {
	font-family: "Futura", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
blockquote {
	font-family: "Futura", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
pre {
	font-family: "Futura", Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

 h2, h3, h4 ,h5, p, li,{
    color: $white;
    font-size: 1em
}

h1{
	font-size: 2em;
	font-weight: bold;
}

body{
	width: 100vw;
	height: 100vh;
}


// HEADER //
.headerContainer{
	height: 80px;
	width: 100%;
	text-transform: uppercase;
	box-shadow: $shadow;
	display:  block;
	text-align: center;
}

#manufacturing{
	background-color: $red;
	color: $white;
}
#logistics{
	background-color: $orange;
	color: $white;
}

.headerContainer h1{
	line-height: 80px;
}

.headerImage{
	width: 100%;

}

.headerImage img{
	width: 100%;

}

////// LOGIN PAGE //////


#login{
	background-color: $blue;
	color: $white;
}
.login{
	background-color: $blue;
}

.headerImg{
	width: 100%;
}

.headerImg img{
	width: 100%;
}

.nextButton{
	width: 60%;
	height: 5%;
	overflow:hidden;
   -moz-border-radius: 4px 4px 4px 4px;
   -webkit-border-radius: 4px 4px 4px 4px;
   border-radius: 4px 4px 4px 4px;
   box-shadow: $shadow ;
   background: $green;
	margin-top: 5%;
	float: right;

}


// SELECTION //

.mainselection {
   overflow:hidden;
   width:100%;
   -moz-border-radius: 2px 2px 2px 2px;
   -webkit-border-radius: 2px 2px 2px 2px;
   border-radius: 2px 2px 2px 2px;
   box-shadow: $shadow ;
   background: $white url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 98% center;
}


.inputLogin{
	  overflow:hidden;
   width:100%;
   -moz-border-radius: 2px 2px 2px 2px;
   -webkit-border-radius: 2px 2px 2px 2px;
   border-radius: 2px 2px 2px 2px;
   box-shadow: $shadow ;
}

.formHeader{
	padding-top: 2%;
	padding-bottom: 2%;
}






///// REGION SPECIFIC ////

.regionHeaderChemistry{
	height: 80px;
	width: 100%;
	box-shadow: $shadow;
	display:  block;
	text-align: left;
	float: left;	
    bottom: 80px;
    background: $red;
}

 .chemistry{
	background: $red;
	height: 80px;
	opacity: 0.7;
	position: absolue;
}
.chemistry h1{
	color: $white;
	line-height: 80px;
	padding-left: 64px;
	float: left;
}

.logistics{
	 .chemistry{
	background: $red;
	height: 80px;
	opacity: 0.7;
	position: absolue;
}
}



.pageContainer{
	height: 100vh;
}
.contentContainer{
	height: 100%;
}

.logo{
	width: 60%;
	margin: 0 auto;
	margin-top: 10%;
}

.logo img{
	width: 100%;
}
.loginContainer{
	width: 50%;
	margin: 0 auto;
}


.loginForm{
	width: 100%;

}




///// MAP PAGE /////

.mapContainer{
	width: 100%;
	position: relative;
}

.mapContainer img{
	width: 100%;
	z-index: 1;
}

.region{
	z-index: 2;	
}


// .carSVG{
// 	position: absolute;
//     width: 100%;
//     left: -39%;
//     top: -3%;
// }

// .terminal5SVG{
// 	position: absolute;
//     width: 100%;
//     left: -12%;
//     top: 3%;
// }

// .manu1SVG{
// 	position: absolute;
//     width: 100%;
//     left: -5%;
//     top: 0%;
// }
// .cars{
// 	position: absolute;
// 	width:100%;
// 	height: 100%;
// 	left: -40%;
//     top: -3.4%;
// }
// .cars img{
// 	width: 100%;
// }