

@import "compass/reset";



.ng-scope{
	width: 100%;
}

// COLOURS
$black: #333333;
$blue: #0086CD;
$orange: #EF7D00;
$red: #E30613;
$yellow: #FFEC38;
$green: #307438;
$buttonGreen: #86BC25;
$brown: #53160A;
$grey: #4E5051;
$purple: #9E1981;
$white: #ffffff;
$lightGreen: #80C342;
$lightBlue: #00AAB5;


// OPACITY

.alpha70orange {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(239, 125, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(239, 125, 0, 0.7);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.alpha70red {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(227, 6, 19);
    /* RGBa with 0.6 opacity */
    background-color: rgba(227, 6, 19, 0.7);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.alpha70blue {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 134, 205);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 134, 205, 0.7);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.alpha70yellow {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 236, 56);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 236, 56, 0.7);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.alpha70green {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(48, 116, 56);
    /* RGBa with 0.6 opacity */
    background-color: rgba(48, 116, 56, 0.7);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.alpha70lightGreen {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(128, 195, 66);
    /* RGBa with 0.6 opacity */
    background-color: rgba(128, 195, 66, 0.7);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.alpha70lightBlue {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0,170,181);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0,170,181, 0.7);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.alpha70grey {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(78,80,81);
    /* RGBa with 0.6 opacity */
    background-color: rgba(78,80,81, 0.7);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}





// SHADOWS

$shadow : 0 2px 5px 0 rgba(0, 0, 0, 0.26);
$shadowclick: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);


// PADDING

$logoCardPadding: 10px 10px 10px 10px;
$cardPadding: 16px 16px 16px 16px;
$h1Padding: 8px 8px 8px 8px;



//FONTS

h1 {
	font-family: "Futura", Helvetica, Arial, sans-serif;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
h3 {
	font-family: "Futura", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
p {
	font-family: "Futura", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
blockquote {
	font-family: "Futura", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
pre {
	font-family: "Futura", Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

 h2, h3, h4 ,h5, p, li,{
    color: $white;
    font-size: 1em;
    font-family: "Futura", Helvetica, Arial, sans-serif;
}

h1{
	font-size: 2em;
	font-weight: bold;
}

body{
	width: 100vw;
	height: 100vh;
}


// HEADER //
.headerContainer{
	height: 80px;
	width: 100%;
	text-transform: uppercase;
	box-shadow: $shadow;
	display:  block;
	text-align: center;
}
// REGIONS HEADER //

#manufacturing{
	background-color: $red;
	color: $white;
}
#grey-manufacturing{
	background-color: $grey;
	color: $white;
}
#carsTop{
	background-color: $yellow;
	color: $black;
}
#foodTop{
	background-color: $lightGreen;
	color: $black;
}
#environmentTop{
	background-color: $green;
	color: $white;
}

#terminalTOp{
	background-color: $orange;
	color: $white;
}
#logistics{
	background-color: $orange;
	color: $white;
}
#food{
	color: $black;
}
#logistics{
	background-color: $lightBlue;
	color: $white;
}
#endResult{
	background-color: $blue;
	color: $white;
}
// MENU HEADERS //

#wallet{
	background: $yellow;
	color: $black;
}
#inventory{
	background: $blue;
	color: $white;
}
#market{
	background: $lightGreen;
	color: $white;
}

.headerContainer h1{
	line-height: 80px;
}

.headerImage{
	width: 100%;

}

.headerImage img{
	width: 100%;

}

////// LOGIN PAGE //////


#login{
	background-color: $blue;
	color: $white;
}
.login{
	background-color: $blue;
}

.loginContainer{
	width: 75%;
	margin: 0 auto;
	padding: $h1Padding;
}

.headerImg{
	width: 100%;
}

.headerImg img{
	width: 100%;
}

.textContainer{
	width: 80%;
	margin: 0 auto;
}


.introText{
	padding: $cardPadding;
}

.introText h1{
	padding: $h1Padding;
	color: $white;
}

.introText p{
	padding: $h1Padding;
}
// SELECTION //

.loginForm{
	
}

.mainselection {
   overflow:hidden;
   width:100%;
   height: 5%;
   -moz-border-radius: 4px 4px 4px 4px;
   -webkit-border-radius: 4px 4px 4px 4px;
   border-radius: 4px 4px 4px 4px;
   border: 0px;
   box-shadow: $shadow ;
   background: $white url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 98% center;
   font-size: 2em;
   font-family: "Futura", Helvetica, Arial, sans-serif;
   padding-left: 2%;
}


.inputLogin{
	  overflow:hidden;
   width:100%;
   height: 5%;
   -moz-border-radius: 4px 4px 4px 4px;
   -webkit-border-radius: 4px 4px 4px 4px;
   border-radius: 4px 4px 4px 4px;
   border: 0px;
   box-shadow: $shadow ;
   font-size: 2em;
   font-family: "Futura", Helvetica, Arial, sans-serif;
   padding-left: 2%;
}

.formHeader{
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 2em;
	font-family: "Futura", Helvetica, Arial, sans-serif;
}

.nextButton{
	width: 60%;
	height: 5%;
	overflow:hidden;
   -moz-border-radius: 4px 4px 4px 4px;
   -webkit-border-radius: 4px 4px 4px 4px;
   border-radius: 4px 4px 4px 4px;
   box-shadow: $shadow ;
   border: 0px;
   background: $buttonGreen;
	margin-top: 5%;
	float: right;
	font-size: 2em;
	font-family: "Futura", Helvetica, Arial, sans-serif;
	color: $white;
	margin-top: 10%;
	font-weight: bold;
	transition: $shadowclick;
    transition-delay: 0.05s;
}
.undefined{
	width: 60%;
	height: 5%;
	overflow:hidden;
   -moz-border-radius: 4px 4px 4px 4px;
   -webkit-border-radius: 4px 4px 4px 4px;
   border-radius: 4px 4px 4px 4px;
   box-shadow: $shadow ;
   border: 0px;
   background: $grey;
   opacity: 0.5;

	margin-top: 5%;
	float: right;
	font-size: 2em;
	font-family: "Futura", Helvetica, Arial, sans-serif;
	color: $white;
	margin-top: 10%;
	font-weight: bold;
}

///// BUTTON STYLING //////

button:active { outline: none!important;
	transition: $shadowclick;
    transition-delay: 0.05s; } 
button:focus {outline:0!important; 
	transition: $shadowclick;
    transition-delay: 0.05s;}


.buttonContainer{
	    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;

}

.startButton{
	width: 90%;
	float: right;
	height: 10%;
	overflow:hidden;
   -moz-border-radius: 4px 4px 4px 4px;
   -webkit-border-radius: 4px 4px 4px 4px;
   border-radius: 4px 4px 4px 4px;
   box-shadow: $shadow ;
   border: 0px;
   margin-left: auto;
   margin-right: auto;
   background: $buttonGreen;
	font-size: 2em;
	font-family: "Futura", Helvetica, Arial, sans-serif;
	color: $white;
	font-weight: bold;
	padding: $h1Padding;
	transition: $shadowclick;
    transition-delay: 0.05s;
}
.bonusButton{
	width:90%;
	float: left;
	height: 10%;
	overflow:hidden;
	padding: $h1Padding;
   -moz-border-radius: 4px 4px 4px 4px;
   -webkit-border-radius: 4px 4px 4px 4px;
   border-radius: 4px 4px 4px 4px;
   box-shadow: $shadow ;
   border: 0px;
   margin-left: auto;
   margin-right: auto;
   background: $yellow;
	font-size: 2em;
	font-family: "Futura", Helvetica, Arial, sans-serif;
	color: $white;
	font-weight: bold;
	transition: $shadowclick;
    transition-delay: 0.05s;
}
///// LOADING PAGE /////


.loadingContainer{
	padding-top:10%;
	width: 80%;
	margin: auto;
}
.loadingContainer h1{
	color: $white;
	text-align: center;
}
.loadingImage{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.loadingImage img{
	 width: 100%;
	 margin-left: auto;
	margin-right: auto;
}




// LOADING ANIMATION
.loading {
  font-size: 30px;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

///// REGION GENERAL /////

.regionTitleContainer{
	margin-top: -80px;
    position: absolute;
    height: 80px;
	width: 100%;
}

.regionTitle{
	width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.regionTitle h1{
	color: $white;
	line-height: 80px;
}

.regionBackground{
	width: 100%;
	height: 80vh;
}

.regionContent{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2%;
}
.regionContent p{
	color: $white;
	padding: $h1Padding;
	float: left;
}
.regionContent img{
	width: 95%;
}

.regionContent.cars p{
	color: $black;
	padding: $h1Padding;
	float: left;
}

#cars h1{
	color: $black;
	line-height: 80px;
}
.regionContent.food p{
	color: $black;
	padding: $h1Padding;
	float: left;
}
#food h1{
	color: $black;
	line-height: 80px;
}





///// REGION SPECIFIC /////

.regionHeaderChemistry{
	height: 80px;
	width: 100%;
	box-shadow: $shadow;
	display:  block;
	text-align: left;
	float: left;	
    bottom: 80px;

}

 #chemistry{
	
}
#chemistry h1{

}




.pageContainer{
	height: 100vh;
}
.contentContainer{
	height: 100vh;
}

.logo{
	width: 60%;
	margin: 0 auto;
	margin-top: 10%;
}

.logo img{
	width: 100%;
}



.loginForm{
	width: 100%;

}




///// MAP PAGE /////

.mapContainer{
	width: 100%;
	position: absolut!important;
}

.mapContainer svg{
	width: 100%;
	max-height: 94vh;
	z-index: 1;

}



.region{
	z-index: 2;	
}


.menuContainer{
	float: right;
    position: fixed;
    right: 5%;
    top: 12%;
}

.menuContainer li{
	padding-bottom: 20%;
}

.mapButton{
	float: right;
    
    top: 7%;
    left: 1%;
}

.regionButton{
	float: right;
	//position: absolute;
    top: 7%;
    right: 1%;

}


/// ENDGAME

.endGameContainer{
    height: 80px;
    width: 50%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    
}
.endGameContent{
	background:$red;
    height: 80px;
    width: 50%;
    position: fixed;
    bottom: 0px;
    right: 0px;
	line-height: 80px;
    font-family: "Futura", Helvetica, Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    color: $white;
}

.resultTableContainer{
	    width: 80%;
    margin: auto;
}
.resultTable{
	    font-size: 2em;
    text-align: center;
    padding: 10%;
}

.resultList{
	
}

.resultList:nth-child(1) {
    background: $blue;
    border: 10px solid $yellow;
    colour: white;    
}

/// WALLET
.menuButton{
	height: 10%;
	position: absolute;
	right: 10%;
}

.coinIcon{
	width: 100%;
	position: relativ;
}
.coinIcon img{
	width: 100%;
}

.text-overlay{
	position:absolute; 
	bottom: 57%;
	font-size: 10em!important;
	color: $purple;
	width:100%; 
	text-align:center;
}


/// Inventory

.inventoryList{
	position: absolut;
}


.listItem{
	height: 80px;
    line-height: 80px;
    color: $white;
    padding-left: 3%;
        margin-bottom: 2%;
        font-weight: bold;
	font-size: 2em;
	font-family: "Futura", Helvetica, Arial, sans-serif;
}

.productSquareInventory{
	width: 227px;
	height: 227px;
	margin: 2%;
	display: inline-block;
}

.manufacturingProduct{
	background: $red;
}
.manufacturing-greyProduct{
	background: $grey;
}

.terminalProduct{
	background: $orange;
}
.carsProduct{
	background: $yellow;
	color: $black;
}
.environmentProduct{
	background: $green;
}
.logisticProduct{
	background: $lightBlue;
}
.foodProduct{
	background: $lightGreen;
}

.inventoryProducts{
	display: inline;
    position: relative;
    top: 16%;
    left: 2%;
}
.inventoryProducts img{
	width: 6%;
}


// Marketplace

.marketPlace{
	width: 80%;
	margin: auto;
}

.marketList h1, .yourInventory h1{
	    margin-bottom: 5%;
}

.submit{
	background: $brown ;
}

.yourInventory{
	height: auto;
	margin-bottom: 10%;
}

.productSquare{
	width: 150px;
	height: 150px;
	margin: 2%;
	display: inline-block;
}

.productIcon{
	width: 100%;
}

.productIcon img{
	width: 100%;
}

.productAmount{
	width:100%;
	position: relative;
}
.productAmountCircle{
	border: 1px red;
	border-radius: 50%;
	background: $purple;
	width: 50px;
    height: 50px;
    position: absolute;
    top: -35px;
    right: -16px;
    box-shadow: $shadow;
}

.productAmountNumber {
	text-align: center;
	line-height: 50px;
}


 /// ADMIN PANEL

 .adminPanel{
 	width: 100%;
 	
 }

 .adminButtonContainer{
 	width: 80%;
 	margin: auto;
 }

 .adminButton{
	width: 100%;
	height: 5%;
	overflow:hidden;
   -moz-border-radius: 4px 4px 4px 4px;
   -webkit-border-radius: 4px 4px 4px 4px;
   border-radius: 4px 4px 4px 4px;
   box-shadow: $shadow ;
   border: 0px;
   background: $buttonGreen;
	margin-top: 5%;
	font-size: 2em;
	font-family: "Futura", Helvetica, Arial, sans-serif;
	color: $white;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	transition: $shadowclick;
    transition-delay: 0.05s;
}

.adminStatus{
	margin-top: 5%;
	width: 100%;
	text-align: center;
}

.adminStatus h1{
	color: $black;
}
.pause{
	width: 100vw;
    z-index: 5;
    height: 100vh;
    position: absolute;
    background: rgba(0,134,205,0.75);
    top: 0;
}

.pauseContainer{
	    width: 80%;
    margin: auto;
}

.pauseContainer img{
	display:block;
    margin:auto;
        margin-top: 20%;
    margin-bottom: 10%;
}

.pauseContainer h1{
	font-weight: initial;
    color: white;
    text-align: center;
    font-size: 3em;
	line-height: 80px;
}
