/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


// COLOURS

$blue: #0086CD;
$orange: #EF7D00;
$red: #E30613;
$yellow: #FFEC38;
$green: #86BC25;
$brown: #53160A;
$grey: #4E5051;
$white: #ffffff;
// SHADOWS

$shadow : 0 2px 5px 0 rgba(0, 0, 0, 0.26);


// PADDING

$logoCardPadding: 10px 10px 10px 10px;
$cardPadding: 16px 16px 16px 16px;
$h1Padding: 8px 8px 8px 8px;

//FONTS

h1 {
	font-family: "Futura", Helvetica, Arial, sans-serif;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
h3 {
	font-family: "Futura", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
p {
	font-family: "Futura", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
blockquote {
	font-family: "Futura", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
pre {
	font-family: "Futura", Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

h1, h2, h3, h4 ,h5, p, li,{
    color: $white;
    font-size: 1em
}



body{
	width: 100vw;
	height: 100vh;
}





///// LOGIN PAGE /////



.login{
	background: $blue;
	height: 100vh;
}

.pageContainer{
	height: 100vh;
}
.contentContainer{
	height: 100%;
}

.logo{
	width: 60%;
	margin: 0 auto;
	margin-top: 10%;
}

.logo img{
	width: 100%;
}
.loginContainer{
	width: 50%;
	margin: 0 auto;
}


.loginForm{
	width: 100%;
	
}




///// MAP PAGE /////

.mapContainer{
	width: 100%;
	position: relative;
}

.mapContainer img{
	width: 100%;
	z-index: 1;
}

.region{
	z-index: 2;	
}


// .carSVG{
// 	position: absolute;
//     width: 100%;
//     left: -39%;
//     top: -3%;
// }

// .terminal5SVG{
// 	position: absolute;
//     width: 100%;
//     left: -12%;
//     top: 3%;
// }

// .manu1SVG{
// 	position: absolute;
//     width: 100%;
//     left: -5%;
//     top: 0%;
// }
// .cars{
// 	position: absolute;
// 	width:100%;
// 	height: 100%;
// 	left: -40%;
//     top: -3.4%;
// }
// .cars img{
// 	width: 100%;
// }