<div class="siteContainer">
	<div class="pageContainer market">  
		<div class="contentContainer">
			<div class="pure-g">
				<div class="pure-u-1-1">
					<div class="headerContainer" id="market">
					    <h1>BONUS GAMES</h1>
					</div>
					<!-- BACK TO MAP BUTTON -->
					<div class="menuButton">
						<div class="mapButton">
							<a ui-sref="map"><img src="img/menu/mapButton.png"></a>
						</div>
						<div class="regionButton">
							
						</div>
					</div>
					<div class="infoText">
					<h1>This is were the Team will be able to pay for Bonus Games and pay the later on.
					The functionality will be added later</h1>
					<a ui-sref="map">BACK TO THE MAP</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<button ng-click="startBonusGame('bonusgame1')">bonus game 1</button>