<div class="siteContainer">
	<div class="pageContainer inventory">  
		<div class="contentContainer">
			<div class="pure-g">
				<div class="pure-u-1-1">
					<div class="headerContainer" id="inventory">
					    <h1>Inventory</h1>
					</div>
					<!-- BACK TO MAP BUTTON -->
					<div class="menuButton">
						<div class="mapButton">
							<a ui-sref="map"><img src="img/menu/mapButton.png"></a>
						</div>
						<div class="regionButton">
							<img src="img/menu/wallet.png">
						</div>
					</div>
					<div class="inventoryList">			
						<ul class="inventory">
							<li class="manufacturing">Manufacturing</li>
							<li class="terminal">Terminal</li>
							<li class="logistic">Logistic</li>
							<li class="food">Food</li>
							<li class="cars">Cars</li>
							<li class="environment">Environment</li>
							<li class="manufacturing-grey">Manufacturing II</li>
						</ul>					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>