<div class="siteContainer">
	<div class="pageContainer inventory">  
		<div class="contentContainer">
			<div class="pure-g">
				<div class="pure-u-1-1">
					<div class="headerContainer" id="inventory">
					    <h1>Inventory</h1>
					</div>
					<!-- BACK TO MAP BUTTON -->
					<div class="menuButton">
						<div class="mapButton">
							<a ui-sref="map"><img src="img/menu/mapButton.png"></a>
						</div>
						<div class="regionButton">
							<img src="img/menu/product.png">
						</div>
					</div>
					<div class="inventoryList">			
						<div class="inventory">
							<div class="listItem manufacturing">Manufacturing: <div class="inventoryProducts">{{product.manufacturing}} <img src="img/menu/wallet.png"></div></div>
							<div class="listItem terminal">Terminal: <div class="inventoryProducts">{{product.termnial}}</div></div>
							<div class="listItem logistic">Logistic: <div class="inventoryProducts">{{product.logistic}}</div></div>
							<div class="listItem food">Food:<div class="inventoryProducts"> {{product.food}}</div></div>
							<div class="listItem cars">Cars:<div class="inventoryProducts"> {{product.cars}}</div></div>
							<div class="listItem environment">Environment: <div class="inventoryProducts"> {{product.environment}}</div></div>
							<div class="listItem manufacturing-grey">Manufacturing II: <div class="inventoryProducts"> {{product.manufacturing2}}</div></div>
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>