<div class="siteContainer">
	<div class="pageContainer inventory">  
		<div class="contentContainer">
			<div class="pure-g">
				<div class="pure-u-1-1">
					<div class="headerContainer" id="inventory">
					    <h1>Inventory</h1>
					</div>
					<!-- BACK TO MAP BUTTON -->
					<div class="menuButton">
						<div class="mapButton">
							<a ui-sref="map"><img src="img/menu/mapButton.png"></a>
						</div>
						<div class="regionButton">
							
						</div>
					</div>
					<div class="marketPlace">
						<div class="yourInventory">
								<h1>Your Inventory</h1>
								<div class="yourProducts">
									<div class="productSquareInventory manufacturingProduct">
										<div class="productIcon">
											<img src="img/regions/manufacturing-icon.png">
										</div>
										<div class="productAmount">
											<div class="productAmountCircle">
												<p class="productAmountNumber">{{productAmount}} 1</p>
											</div>			
										</div>
									</div>
									<div class="productSquareInventory terminalProduct">
										<div class="productIcon">
											<img src="img/regions/terminal-icon.png">
										</div>	
										<div class="productAmount">
											<div class="productAmountCircle">
												<p class="productAmountNumber">{{productAmount}} 1</p>
											</div>			
										</div>								
									</div>
									
									<div class="productSquareInventory logisticProduct">
										<div class="productIcon">
											<img src="img/regions/logistics-icon.png">
										</div>
										<div class="productAmount">
											<div class="productAmountCircle">
												<p class="productAmountNumber">{{productAmount}} 1</p>
											</div>			
										</div>
									</div>
									<div class="productSquareInventory foodProduct">
										<div class="productIcon">
											<img src="img/regions/food-icon.png">
										</div>
										<div class="productAmount">
											<div class="productAmountCircle food">
												<p class="productAmountNumber">{{productAmount}} 1</p>
											</div>			
										</div>
									</div>
									<div class="productSquareInventory carsProduct">
										<div class="productIcon">
											<img src="img/regions/car-icon.png">
										</div>
										<div class="productAmount">
											<div class="productAmountCircle cars">
												<p class="productAmountNumber">{{productAmount}} 1</p>
											</div>			
										</div>
									</div>
									<div class="productSquareInventory environmentProduct">
										<div class="productIcon">
											<img src="img/regions/environment-icon.png">
										</div>
										<div class="productAmount">
											<div class="productAmountCircle">
												<p class="productAmountNumber">{{productAmount}} 1</p>
											</div>			
										</div>
									</div>
									<div class="productSquareInventory manufacturing-greyProduct">
										<div class="productIcon">
											<img src="img/regions/manufacturing2-icon.png">
										</div>
										<div class="productAmount">
											<div class="productAmountCircle">
												<p class="productAmountNumber">{{productAmount}} 1</p>
											</div>			
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>