<div class="pure-g">
	<div class="pure-u-1-1">
		<div class="mapContainer">
			<img src="img/map.png">
			<div class="region">
			<a style="display:block" href="#friendslink"  data-id="172171559518838" class="item">
		  			<div class="cars">
		  				<img src="img/mapsvg/cars.svg">
		  			</div>
				</a>
				<!-- <div class="cars">
					<a href="www.google.com">
					
					</a>
				</div> -->
			</div>
		</div>
	</div>
</div>





<div>
    <h1>{{game.state}}</h1>
    <button id="region1" ng-click="regionOwner('region1', score)">region 1: {{region1}}</button>
    <button id="region2" ng-click="regionOwner('region2', score)">region 2: {{region2}}</button>
    <button id="region3" ng-click="regionOwner('region3', score)">region 3: {{region3}}</button>
    <p>score</p>
    <input type="number" ng-model="score" />
</div>