<div class="siteContainer">
	<div class="pageContainer market">  
		<div class="contentContainer">
			<div class="pure-g">
				<div class="pure-u-1-1">
					<div class="headerContainer" id="market">
					    <h1>Marketplace</h1>
					</div>
					<!-- BACK TO MAP BUTTON -->
					<div class="menuButton">
						<div class="mapButton">
							<a ui-sref="map"><img src="img/menu/mapButton.png"></a>
						</div>
						<div class="regionButton">
							<img src="img/menu/market.png">
						</div>
					</div>
					<div class="marketPlace">
						<div class="yourInventory">
							<h1>Your Inventory</h1>
							<div class="yourProducts">
								<div class="productSquare manufacturingProduct">
									<div class="productIcon">
										<img src="img/regions/manufacturing-icon.png">
									</div>
									<div class="productAmount">
										<div class="productAmountCircle">
											<p class="productAmountNumber">{{productAmount}} 1</p>
										</div>			
									</div>
								</div>
								<div class="productSquare terminalProduct">
									<div class="productIcon">
										<img src="img/regions/terminal-icon.png">
									</div>	
									<div class="productAmount">
										<div class="productAmountCircle">
											<p class="productAmountNumber">{{productAmount}} 1</p>
										</div>			
									</div>								
								</div>
								
								<div class="productSquare logisticProduct">
									<div class="productIcon">
										<img src="img/regions/logistics-icon.png">
									</div>
									<div class="productAmount">
										<div class="productAmountCircle">
											<p class="productAmountNumber">{{productAmount}} 1</p>
										</div>			
									</div>
								</div>
								<div class="productSquare foodProduct">
									<div class="productIcon">
										<img src="img/regions/food-icon.png">
									</div>
									<div class="productAmount">
										<div class="productAmountCircle food">
											<p class="productAmountNumber">{{productAmount}} 1</p>
										</div>			
									</div>
								</div>
								<div class="productSquare carsProduct">
									<div class="productIcon">
										<img src="img/regions/car-icon.png">
									</div>
									<div class="productAmount">
										<div class="productAmountCircle cars">
											<p class="productAmountNumber">{{productAmount}} 1</p>
										</div>			
									</div>
								</div>
								<div class="productSquare environmentProduct">
									<div class="productIcon">
										<img src="img/regions/environment-icon.png">
									</div>
									<div class="productAmount">
										<div class="productAmountCircle">
											<p class="productAmountNumber">{{productAmount}} 1</p>
										</div>			
									</div>
								</div>
								<div class="productSquare manufacturing-greyProduct">
									<div class="productIcon">
										<img src="img/regions/manufacturing2-icon.png">
									</div>
									<div class="productAmount">
										<div class="productAmountCircle">
											<p class="productAmountNumber">{{productAmount}} 1</p>
										</div>			
									</div>
								</div>
							</div>
						</div>
						<div class="marketList">
							<h1>The Market</h1>
							<div class="marketProducts">
								<div class="productSquare manufacturingProduct">
									<div class="productIcon">
										<img src="img/regions/manufacturing-icon.png">
									</div>
								</div>
								<div class="productSquare terminalProduct">
									<div class="productIcon">
										<img src="img/regions/terminal-icon.png">
									</div>
								</div>
								<div class="productSquare logisticProduct">
									<div class="productIcon">
										<img src="img/regions/logistics-icon.png">
									</div>
								</div>
								<div class="productSquare foodProduct">
									<div class="productIcon">
										<img src="img/regions/food-icon.png">
									</div>
								</div>
								<div class="productSquare carsProduct">
									<div class="productIcon">
										<img src="img/regions/car-icon.png">
									</div>
								</div>
								<div class="productSquare environmentProduct">
									<div class="productIcon">
										<img src="img/regions/environment-icon.png">
									</div>
								</div>
								<div class="productSquare manufacturing-greyProduct">
									<div class="productIcon">
										<img src="img/regions/manufacturing2-icon.png">
									</div>
								</div>
								<div class="productSquare submit">
									<div class="productIcon">
									</div>
								</div>
							</div>						
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>