<div class="siteContainer">
	<div class="pageContainer environment">  
		<div class="contentContainer">
			<div class="pure-g">
				<div class="pure-u-1-1">
					<div class="headerContainer" id="environmentTop">
					    <h1>Environment</h1>
					</div>
					<!-- BACK TO MAP BUTTON -->
					<div class="menuButton">
						<div class="mapButton">
							<a ui-sref="map"><img src="img/menu/mapButton.png"></a>
						</div>
						<div class="regionButton">
							<img src="img/regions/environment-icon.png">
						</div>
					</div>
					<div class="headerImage">
						<img src="img/chemistry.png">		
					</div>				
					<div class="regionTitleContainer alpha70green" id="environment">
						<div class="regionTitle" id="chemistry">
							<h1>Environment I</h1>
						</div>
					</div>
					<div class="regionBackground alpha70green" id="environment">
						<div class="regionContent">
							<div class="pure-g">				
								<div class="pure-u-1-2">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci reprehenderit laboriosam doloremque iste, dolor sed voluptates et in ut nobis dolorum est harum fuga recusandae perspiciatis maxime a amet quisquam.</p>
								</div>
								<div class="pure-u-1-2">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum perferendis est, soluta deserunt commodi facilis, necessitatibus mollitia provident voluptate doloremque impedit dolore possimus at, explicabo libero repellendus eos pariatur alias.</p>
								</div>
							</div>
							<div class="pure-g">				
								<div class="pure-u-1-2">
									<img src="img/chemistry.png">
								</div>
								<div class="pure-u-1-2">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum perferendis est, soluta deserunt commodi facilis, necessitatibus mollitia provident voluptate doloremque impedit dolore possimus at, explicabo libero repellendus eos pariatur alias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic explicabo nam consectetur voluptatem dolores id fugit autem officia reiciendis nulla ducimus quos amet omnis rem, quia facere enim mollitia? Expedita! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse delectus recusandae perferendis, ab provident blanditiis repellat consequatur dolor ducimus impedit! Aspernatur architecto facere nemo totam sed eos consequuntur, inventore consequatur.</p>
								</div>
							</div>
							
							
						</div>
					</div>				
				</div>
			</div>
		</div>
	</div>
</div>