/* line 5, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
.ng-scope {
  width: 100%;
}

/* line 29, ../sass/screen.scss */
.alpha70orange {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #ef7d00;
  /* RGBa with 0.6 opacity */
  background-color: rgba(239, 125, 0, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 39, ../sass/screen.scss */
.alpha70red {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #e30613;
  /* RGBa with 0.6 opacity */
  background-color: rgba(227, 6, 19, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 49, ../sass/screen.scss */
.alpha70blue {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #0086cd;
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 134, 205, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 59, ../sass/screen.scss */
.alpha70yellow {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #ffec38;
  /* RGBa with 0.6 opacity */
  background-color: rgba(255, 236, 56, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 69, ../sass/screen.scss */
.alpha70green {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #307438;
  /* RGBa with 0.6 opacity */
  background-color: rgba(48, 116, 56, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 79, ../sass/screen.scss */
.alpha70lightGreen {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #80c342;
  /* RGBa with 0.6 opacity */
  background-color: rgba(128, 195, 66, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 89, ../sass/screen.scss */
.alpha70lightBlue {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #00aab5;
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 170, 181, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 120, ../sass/screen.scss */
h1 {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}

/* line 128, ../sass/screen.scss */
h3 {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}

/* line 136, ../sass/screen.scss */
p {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

/* line 144, ../sass/screen.scss */
blockquote {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

/* line 152, ../sass/screen.scss */
pre {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

/* line 161, ../sass/screen.scss */
h2, h3, h4, h5, p, li {
  color: #ffffff;
  font-size: 1em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
}

/* line 167, ../sass/screen.scss */
h1 {
  font-size: 2em;
  font-weight: bold;
}

/* line 172, ../sass/screen.scss */
body {
  width: 100vw;
  height: 100vh;
}

/* line 179, ../sass/screen.scss */
.headerContainer {
  height: 80px;
  width: 100%;
  text-transform: uppercase;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: block;
  text-align: center;
}

/* line 189, ../sass/screen.scss */
#manufacturing {
  background-color: #E30613;
  color: #ffffff;
}

/* line 193, ../sass/screen.scss */
#carsTop {
  background-color: #FFEC38;
  color: #333333;
}

/* line 197, ../sass/screen.scss */
#foodTop {
  background-color: #80C342;
  color: #333333;
}

/* line 201, ../sass/screen.scss */
#environmentTop {
  background-color: #307438;
  color: #ffffff;
}

/* line 206, ../sass/screen.scss */
#terminalTOp {
  background-color: #EF7D00;
  color: #ffffff;
}

/* line 210, ../sass/screen.scss */
#logistics {
  background-color: #EF7D00;
  color: #ffffff;
}

/* line 214, ../sass/screen.scss */
#food {
  color: #333333;
}

/* line 217, ../sass/screen.scss */
#logistics {
  background-color: #00AAB5;
  color: #ffffff;
}

/* line 223, ../sass/screen.scss */
#wallet {
  background: #FFEC38;
  color: #333333;
}

/* line 227, ../sass/screen.scss */
#inventory {
  background: #0086CD;
  color: #ffffff;
}

/* line 231, ../sass/screen.scss */
#market {
  background: #80C342;
  color: #ffffff;
}

/* line 236, ../sass/screen.scss */
.headerContainer h1 {
  line-height: 80px;
}

/* line 240, ../sass/screen.scss */
.headerImage {
  width: 100%;
}

/* line 245, ../sass/screen.scss */
.headerImage img {
  width: 100%;
}

/* line 253, ../sass/screen.scss */
#login {
  background-color: #0086CD;
  color: #ffffff;
}

/* line 257, ../sass/screen.scss */
.login {
  background-color: #0086CD;
}

/* line 261, ../sass/screen.scss */
.loginContainer {
  width: 75%;
  margin: 0 auto;
  padding: 8px 8px 8px 8px;
}

/* line 267, ../sass/screen.scss */
.headerImg {
  width: 100%;
}

/* line 271, ../sass/screen.scss */
.headerImg img {
  width: 100%;
}

/* line 275, ../sass/screen.scss */
.textContainer {
  width: 80%;
  margin: 0 auto;
}

/* line 281, ../sass/screen.scss */
.introText {
  padding: 16px 16px 16px 16px;
}

/* line 285, ../sass/screen.scss */
.introText h1 {
  padding: 8px 8px 8px 8px;
  color: #ffffff;
}

/* line 290, ../sass/screen.scss */
.introText p {
  padding: 8px 8px 8px 8px;
}

/* line 299, ../sass/screen.scss */
.mainselection {
  overflow: hidden;
  width: 100%;
  height: 5%;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: #ffffff url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 98% center;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  padding-left: 2%;
}

/* line 315, ../sass/screen.scss */
.inputLogin {
  overflow: hidden;
  width: 100%;
  height: 5%;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  padding-left: 2%;
}

/* line 329, ../sass/screen.scss */
.formHeader {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
}

/* line 336, ../sass/screen.scss */
.nextButton {
  width: 60%;
  height: 5%;
  overflow: hidden;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 0px;
  background: #86BC25;
  margin-top: 5%;
  float: right;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: #ffffff;
  margin-top: 10%;
  font-weight: bold;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 356, ../sass/screen.scss */
.undefined {
  width: 60%;
  height: 5%;
  overflow: hidden;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 0px;
  background: #4E5051;
  opacity: 0.5;
  margin-top: 5%;
  float: right;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: #ffffff;
  margin-top: 10%;
  font-weight: bold;
}

/* line 379, ../sass/screen.scss */
button:active {
  outline: none !important;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 382, ../sass/screen.scss */
button:focus {
  outline: 0 !important;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 387, ../sass/screen.scss */
.buttonContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

/* line 395, ../sass/screen.scss */
.startButton {
  width: 90%;
  float: right;
  height: 10%;
  overflow: hidden;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  background: #86BC25;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 8px 8px 8px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 416, ../sass/screen.scss */
.bonusButton {
  width: 90%;
  float: left;
  height: 10%;
  overflow: hidden;
  padding: 8px 8px 8px 8px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  background: #FFEC38;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-weight: bold;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 440, ../sass/screen.scss */
.loadingContainer {
  padding-top: 10%;
  width: 80%;
  margin: auto;
}

/* line 445, ../sass/screen.scss */
.loadingContainer h1 {
  color: #ffffff;
  text-align: center;
}

/* line 449, ../sass/screen.scss */
.loadingImage {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 454, ../sass/screen.scss */
.loadingImage img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 464, ../sass/screen.scss */
.loading {
  font-size: 30px;
}

/* line 468, ../sass/screen.scss */
.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
/* line 492, ../sass/screen.scss */
.regionTitleContainer {
  margin-top: -80px;
  position: absolute;
  height: 80px;
  width: 100%;
}

/* line 499, ../sass/screen.scss */
.regionTitle {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* line 505, ../sass/screen.scss */
.regionTitle h1 {
  color: #ffffff;
  line-height: 80px;
}

/* line 510, ../sass/screen.scss */
.regionBackground {
  width: 100%;
  height: 80vh;
}

/* line 515, ../sass/screen.scss */
.regionContent {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

/* line 521, ../sass/screen.scss */
.regionContent p {
  color: #ffffff;
  padding: 8px 8px 8px 8px;
  float: left;
}

/* line 526, ../sass/screen.scss */
.regionContent img {
  width: 95%;
}

/* line 530, ../sass/screen.scss */
.regionContent.cars p {
  color: #333333;
  padding: 8px 8px 8px 8px;
  float: left;
}

/* line 536, ../sass/screen.scss */
#cars h1 {
  color: #333333;
  line-height: 80px;
}

/* line 540, ../sass/screen.scss */
.regionContent.food p {
  color: #333333;
  padding: 8px 8px 8px 8px;
  float: left;
}

/* line 545, ../sass/screen.scss */
#food h1 {
  color: #333333;
  line-height: 80px;
}

/* line 556, ../sass/screen.scss */
.regionHeaderChemistry {
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: block;
  text-align: left;
  float: left;
  bottom: 80px;
}

/* line 577, ../sass/screen.scss */
.pageContainer {
  height: 100vh;
}

/* line 580, ../sass/screen.scss */
.contentContainer {
  height: 100vh;
}

/* line 584, ../sass/screen.scss */
.logo {
  width: 60%;
  margin: 0 auto;
  margin-top: 10%;
}

/* line 590, ../sass/screen.scss */
.logo img {
  width: 100%;
}

/* line 596, ../sass/screen.scss */
.loginForm {
  width: 100%;
}

/* line 606, ../sass/screen.scss */
.mapContainer {
  width: 100%;
  position: absolut !important;
}

/* line 611, ../sass/screen.scss */
.mapContainer img {
  width: 100%;
  z-index: 1;
}

/* line 616, ../sass/screen.scss */
.region {
  z-index: 2;
}

/* line 621, ../sass/screen.scss */
.menuContainer {
  float: right;
  position: fixed;
  right: 5%;
  top: 12%;
}

/* line 628, ../sass/screen.scss */
.menuContainer li {
  padding-bottom: 20%;
}

/* line 632, ../sass/screen.scss */
.mapButton {
  float: left;
  position: absolute;
  top: 7%;
  left: 1%;
}

/* line 639, ../sass/screen.scss */
.regionButton {
  float: right;
  position: absolute;
  top: 7%;
  right: 1%;
}

/* line 648, ../sass/screen.scss */
.menuButton {
  height: 10%;
}

/* line 652, ../sass/screen.scss */
.coinIcon {
  width: 100%;
  position: relativ;
}

/* line 656, ../sass/screen.scss */
.coinIcon img {
  width: 100%;
}

/* line 660, ../sass/screen.scss */
.text-overlay {
  position: absolute;
  bottom: 57%;
  font-size: 10em !important;
  color: #9E1981;
  width: 100%;
  text-align: center;
}

/* line 672, ../sass/screen.scss */
.inventoryList {
  position: absolut;
}

/* line 677, ../sass/screen.scss */
.listItem {
  height: 80px;
  line-height: 80px;
  color: #ffffff;
  padding-left: 3%;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
}

/* line 688, ../sass/screen.scss */
.productSquareInventory {
  width: 227px;
  height: 227px;
  margin: 2%;
  display: inline-block;
}

/* line 695, ../sass/screen.scss */
.manufacturingProduct {
  background: #E30613;
}

/* line 698, ../sass/screen.scss */
.manufacturing-greyProduct {
  background: #4E5051;
}

/* line 702, ../sass/screen.scss */
.terminalProduct {
  background: #EF7D00;
}

/* line 705, ../sass/screen.scss */
.carsProduct {
  background: #FFEC38;
  color: #333333;
}

/* line 709, ../sass/screen.scss */
.environmentProduct {
  background: #307438;
}

/* line 712, ../sass/screen.scss */
.logisticProduct {
  background: #00AAB5;
}

/* line 715, ../sass/screen.scss */
.foodProduct {
  background: #80C342;
}

/* line 719, ../sass/screen.scss */
.inventoryProducts {
  display: inline;
  position: relative;
  top: 16%;
  left: 2%;
}

/* line 725, ../sass/screen.scss */
.inventoryProducts img {
  width: 6%;
}

/* line 732, ../sass/screen.scss */
.marketPlace {
  width: 80%;
  margin: auto;
}

/* line 737, ../sass/screen.scss */
.marketList h1, .yourInventory h1 {
  margin-bottom: 5%;
}

/* line 741, ../sass/screen.scss */
.submit {
  background: #53160A;
}

/* line 745, ../sass/screen.scss */
.yourInventory {
  height: auto;
  margin-bottom: 10%;
}

/* line 750, ../sass/screen.scss */
.productSquare {
  width: 150px;
  height: 150px;
  margin: 2%;
  display: inline-block;
}

/* line 757, ../sass/screen.scss */
.productIcon {
  width: 100%;
}

/* line 761, ../sass/screen.scss */
.productIcon img {
  width: 100%;
}

/* line 765, ../sass/screen.scss */
.productAmount {
  width: 100%;
  position: relative;
}

/* line 769, ../sass/screen.scss */
.productAmountCircle {
  border: 1px red;
  border-radius: 50%;
  background: #9E1981;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -35px;
  right: -16px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/* line 781, ../sass/screen.scss */
.productAmountNumber {
  text-align: center;
  line-height: 50px;
}
