/* line 5, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
.ng-scope {
  width: 100%;
}

/* line 29, ../sass/screen.scss */
.alpha70orange {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #ef7d00;
  /* RGBa with 0.6 opacity */
  background-color: rgba(239, 125, 0, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 39, ../sass/screen.scss */
.alpha70red {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #e30613;
  /* RGBa with 0.6 opacity */
  background-color: rgba(227, 6, 19, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 49, ../sass/screen.scss */
.alpha70blue {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #0086cd;
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 134, 205, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 59, ../sass/screen.scss */
.alpha70yellow {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #ffec38;
  /* RGBa with 0.6 opacity */
  background-color: rgba(255, 236, 56, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 69, ../sass/screen.scss */
.alpha70green {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #307438;
  /* RGBa with 0.6 opacity */
  background-color: rgba(48, 116, 56, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 79, ../sass/screen.scss */
.alpha70lightGreen {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #80c342;
  /* RGBa with 0.6 opacity */
  background-color: rgba(128, 195, 66, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 89, ../sass/screen.scss */
.alpha70lightBlue {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #00aab5;
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 170, 181, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 99, ../sass/screen.scss */
.alpha70grey {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #4e5051;
  /* RGBa with 0.6 opacity */
  background-color: rgba(78, 80, 81, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 130, ../sass/screen.scss */
h1 {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}

/* line 138, ../sass/screen.scss */
h3 {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}

/* line 146, ../sass/screen.scss */
p {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

/* line 154, ../sass/screen.scss */
blockquote {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

/* line 162, ../sass/screen.scss */
pre {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

/* line 171, ../sass/screen.scss */
h2, h3, h4, h5, p, li {
  color: #ffffff;
  font-size: 1em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
}

/* line 177, ../sass/screen.scss */
h1 {
  font-size: 2em;
  font-weight: bold;
}

/* line 182, ../sass/screen.scss */
body {
  width: 100vw;
  height: 100vh;
}

/* line 189, ../sass/screen.scss */
.headerContainer {
  height: 80px;
  width: 100%;
  text-transform: uppercase;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: block;
  text-align: center;
}

/* line 199, ../sass/screen.scss */
#manufacturing {
  background-color: #E30613;
  color: #ffffff;
}

/* line 203, ../sass/screen.scss */
#grey-manufacturing {
  background-color: #4E5051;
  color: #ffffff;
}

/* line 207, ../sass/screen.scss */
#carsTop {
  background-color: #FFEC38;
  color: #333333;
}

/* line 211, ../sass/screen.scss */
#foodTop {
  background-color: #80C342;
  color: #333333;
}

/* line 215, ../sass/screen.scss */
#environmentTop {
  background-color: #307438;
  color: #ffffff;
}

/* line 220, ../sass/screen.scss */
#terminalTOp {
  background-color: #EF7D00;
  color: #ffffff;
}

/* line 224, ../sass/screen.scss */
#logistics {
  background-color: #EF7D00;
  color: #ffffff;
}

/* line 228, ../sass/screen.scss */
#food {
  color: #333333;
}

/* line 231, ../sass/screen.scss */
#logistics {
  background-color: #00AAB5;
  color: #ffffff;
}

/* line 235, ../sass/screen.scss */
#endResult {
  background-color: #0086CD;
  color: #ffffff;
}

/* line 241, ../sass/screen.scss */
#wallet {
  background: #FFEC38;
  color: #333333;
}

/* line 245, ../sass/screen.scss */
#inventory {
  background: #0086CD;
  color: #ffffff;
}

/* line 249, ../sass/screen.scss */
#market {
  background: #80C342;
  color: #ffffff;
}

/* line 254, ../sass/screen.scss */
.headerContainer h1 {
  line-height: 80px;
}

/* line 258, ../sass/screen.scss */
.headerImage {
  width: 100%;
}

/* line 263, ../sass/screen.scss */
.headerImage img {
  width: 100%;
}

/* line 271, ../sass/screen.scss */
#login {
  background-color: #0086CD;
  color: #ffffff;
}

/* line 275, ../sass/screen.scss */
.login {
  background-color: #0086CD;
}

/* line 279, ../sass/screen.scss */
.loginContainer {
  width: 75%;
  margin: 0 auto;
  padding: 8px 8px 8px 8px;
}

/* line 285, ../sass/screen.scss */
.headerImg {
  width: 100%;
}

/* line 289, ../sass/screen.scss */
.headerImg img {
  width: 100%;
}

/* line 293, ../sass/screen.scss */
.textContainer {
  width: 80%;
  margin: 0 auto;
}

/* line 299, ../sass/screen.scss */
.introText {
  padding: 16px 16px 16px 16px;
}

/* line 303, ../sass/screen.scss */
.introText h1 {
  padding: 8px 8px 8px 8px;
  color: #ffffff;
}

/* line 308, ../sass/screen.scss */
.introText p {
  padding: 8px 8px 8px 8px;
}

/* line 317, ../sass/screen.scss */
.mainselection {
  overflow: hidden;
  width: 100%;
  height: 5%;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: #ffffff url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 98% center;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  padding-left: 2%;
}

/* line 333, ../sass/screen.scss */
.inputLogin {
  overflow: hidden;
  width: 100%;
  height: 5%;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  padding-left: 2%;
}

/* line 347, ../sass/screen.scss */
.formHeader {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
}

/* line 354, ../sass/screen.scss */
.nextButton {
  width: 60%;
  height: 5%;
  overflow: hidden;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 0px;
  background: #86BC25;
  margin-top: 5%;
  float: right;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: #ffffff;
  margin-top: 10%;
  font-weight: bold;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 374, ../sass/screen.scss */
.undefined {
  width: 60%;
  height: 5%;
  overflow: hidden;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 0px;
  background: #4E5051;
  opacity: 0.5;
  margin-top: 5%;
  float: right;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: #ffffff;
  margin-top: 10%;
  font-weight: bold;
}

/* line 397, ../sass/screen.scss */
button:active {
  outline: none !important;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 400, ../sass/screen.scss */
button:focus {
  outline: 0 !important;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 405, ../sass/screen.scss */
.buttonContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

/* line 413, ../sass/screen.scss */
.startButton {
  width: 90%;
  float: right;
  height: 10%;
  overflow: hidden;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  background: #86BC25;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 8px 8px 8px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 434, ../sass/screen.scss */
.bonusButton {
  width: 90%;
  float: left;
  height: 10%;
  overflow: hidden;
  padding: 8px 8px 8px 8px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  background: #FFEC38;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-weight: bold;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 458, ../sass/screen.scss */
.loadingContainer {
  padding-top: 10%;
  width: 80%;
  margin: auto;
}

/* line 463, ../sass/screen.scss */
.loadingContainer h1 {
  color: #ffffff;
  text-align: center;
}

/* line 467, ../sass/screen.scss */
.loadingImage {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 472, ../sass/screen.scss */
.loadingImage img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 482, ../sass/screen.scss */
.loading {
  font-size: 30px;
}

/* line 486, ../sass/screen.scss */
.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
/* line 510, ../sass/screen.scss */
.regionTitleContainer {
  margin-top: -80px;
  position: absolute;
  height: 80px;
  width: 100%;
}

/* line 517, ../sass/screen.scss */
.regionTitle {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* line 523, ../sass/screen.scss */
.regionTitle h1 {
  color: #ffffff;
  line-height: 80px;
}

/* line 528, ../sass/screen.scss */
.regionBackground {
  width: 100%;
  height: 80vh;
}

/* line 533, ../sass/screen.scss */
.regionContent {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

/* line 539, ../sass/screen.scss */
.regionContent p {
  color: #ffffff;
  padding: 8px 8px 8px 8px;
  float: left;
}

/* line 544, ../sass/screen.scss */
.regionContent img {
  width: 95%;
}

/* line 548, ../sass/screen.scss */
.regionContent.cars p {
  color: #333333;
  padding: 8px 8px 8px 8px;
  float: left;
}

/* line 554, ../sass/screen.scss */
#cars h1 {
  color: #333333;
  line-height: 80px;
}

/* line 558, ../sass/screen.scss */
.regionContent.food p {
  color: #333333;
  padding: 8px 8px 8px 8px;
  float: left;
}

/* line 563, ../sass/screen.scss */
#food h1 {
  color: #333333;
  line-height: 80px;
}

/* line 574, ../sass/screen.scss */
.regionHeaderChemistry {
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: block;
  text-align: left;
  float: left;
  bottom: 80px;
}

/* line 595, ../sass/screen.scss */
.pageContainer {
  height: 100vh;
}

/* line 598, ../sass/screen.scss */
.contentContainer {
  height: 100vh;
}

/* line 602, ../sass/screen.scss */
.logo {
  width: 60%;
  margin: 0 auto;
  margin-top: 10%;
}

/* line 608, ../sass/screen.scss */
.logo img {
  width: 100%;
}

/* line 614, ../sass/screen.scss */
.loginForm {
  width: 100%;
}

/* line 624, ../sass/screen.scss */
.mapContainer {
  width: 100%;
  position: absolut !important;
}

/* line 629, ../sass/screen.scss */
.mapContainer svg {
  width: 100%;
  max-height: 94vh;
  z-index: 1;
}

/* line 638, ../sass/screen.scss */
.region {
  z-index: 2;
}

/* line 643, ../sass/screen.scss */
.menuContainer {
  float: right;
  position: fixed;
  right: 5%;
  top: 12%;
}

/* line 650, ../sass/screen.scss */
.menuContainer li {
  padding-bottom: 20%;
}

/* line 654, ../sass/screen.scss */
.mapButton {
  float: right;
  top: 7%;
  left: 1%;
}

/* line 661, ../sass/screen.scss */
.regionButton {
  float: right;
  top: 7%;
  right: 1%;
}

/* line 672, ../sass/screen.scss */
.endGameContainer {
  height: 80px;
  width: 50%;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

/* line 680, ../sass/screen.scss */
.endGameContent {
  background: #E30613;
  height: 80px;
  width: 50%;
  position: fixed;
  bottom: 0px;
  right: 0px;
  line-height: 80px;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 2em;
  text-align: center;
  color: #ffffff;
}

/* line 694, ../sass/screen.scss */
.resultTableContainer {
  width: 80%;
  margin: auto;
}

/* line 698, ../sass/screen.scss */
.resultTable {
  font-size: 2em;
  text-align: center;
  padding: 10%;
}

/* line 708, ../sass/screen.scss */
.resultList:nth-child(1) {
  background: #0086CD;
  border: 10px solid #FFEC38;
  colour: white;
}

/* line 715, ../sass/screen.scss */
.menuButton {
  height: 10%;
  position: absolute;
  right: 10%;
}

/* line 721, ../sass/screen.scss */
.coinIcon {
  width: 100%;
  position: relativ;
}

/* line 725, ../sass/screen.scss */
.coinIcon img {
  width: 100%;
}

/* line 729, ../sass/screen.scss */
.text-overlay {
  position: absolute;
  bottom: 57%;
  font-size: 10em !important;
  color: #9E1981;
  width: 100%;
  text-align: center;
}

/* line 741, ../sass/screen.scss */
.inventoryList {
  position: absolut;
}

/* line 746, ../sass/screen.scss */
.listItem {
  height: 80px;
  line-height: 80px;
  color: #ffffff;
  padding-left: 3%;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
}

/* line 757, ../sass/screen.scss */
.productSquareInventory {
  width: 227px;
  height: 227px;
  margin: 2%;
  display: inline-block;
}

/* line 764, ../sass/screen.scss */
.manufacturingProduct {
  background: #E30613;
}

/* line 767, ../sass/screen.scss */
.manufacturing-greyProduct {
  background: #4E5051;
}

/* line 771, ../sass/screen.scss */
.terminalProduct {
  background: #EF7D00;
}

/* line 774, ../sass/screen.scss */
.carsProduct {
  background: #FFEC38;
  color: #333333;
}

/* line 778, ../sass/screen.scss */
.environmentProduct {
  background: #307438;
}

/* line 781, ../sass/screen.scss */
.logisticProduct {
  background: #00AAB5;
}

/* line 784, ../sass/screen.scss */
.foodProduct {
  background: #80C342;
}

/* line 788, ../sass/screen.scss */
.inventoryProducts {
  display: inline;
  position: relative;
  top: 16%;
  left: 2%;
}

/* line 794, ../sass/screen.scss */
.inventoryProducts img {
  width: 6%;
}

/* line 801, ../sass/screen.scss */
.marketPlace {
  width: 80%;
  margin: auto;
}

/* line 806, ../sass/screen.scss */
.marketList h1, .yourInventory h1 {
  margin-bottom: 5%;
}

/* line 810, ../sass/screen.scss */
.submit {
  background: #53160A;
}

/* line 814, ../sass/screen.scss */
.yourInventory {
  height: auto;
  margin-bottom: 10%;
}

/* line 819, ../sass/screen.scss */
.productSquare {
  width: 150px;
  height: 150px;
  margin: 2%;
  display: inline-block;
}

/* line 826, ../sass/screen.scss */
.productIcon {
  width: 100%;
}

/* line 830, ../sass/screen.scss */
.productIcon img {
  width: 100%;
}

/* line 834, ../sass/screen.scss */
.productAmount {
  width: 100%;
  position: relative;
}

/* line 838, ../sass/screen.scss */
.productAmountCircle {
  border: 1px red;
  border-radius: 50%;
  background: #9E1981;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -35px;
  right: -16px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/* line 850, ../sass/screen.scss */
.productAmountNumber {
  text-align: center;
  line-height: 50px;
}
