/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
.ng-scope {
  width: 100%;
}

/* line 28, ../sass/screen.scss */
.alpha70red {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #ef7d00;
  /* RGBa with 0.6 opacity */
  background-color: rgba(239, 125, 0, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 38, ../sass/screen.scss */
.alpha70orange {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #e30613;
  /* RGBa with 0.6 opacity */
  background-color: rgba(227, 6, 19, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 67, ../sass/screen.scss */
h1 {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}

/* line 75, ../sass/screen.scss */
h3 {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}

/* line 83, ../sass/screen.scss */
p {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

/* line 91, ../sass/screen.scss */
blockquote {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

/* line 99, ../sass/screen.scss */
pre {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

/* line 108, ../sass/screen.scss */
h2, h3, h4, h5, p, li {
  color: #ffffff;
  font-size: 1em;
}

/* line 113, ../sass/screen.scss */
h1 {
  font-size: 2em;
  font-weight: bold;
}

/* line 118, ../sass/screen.scss */
body {
  width: 100vw;
  height: 100vh;
}

/* line 125, ../sass/screen.scss */
.headerContainer {
  height: 80px;
  width: 100%;
  text-transform: uppercase;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: block;
  text-align: center;
}

/* line 134, ../sass/screen.scss */
#manufacturing {
  background-color: #E30613;
  color: #ffffff;
}

/* line 138, ../sass/screen.scss */
#logistics {
  background-color: #EF7D00;
  color: #ffffff;
}

/* line 143, ../sass/screen.scss */
.headerContainer h1 {
  line-height: 80px;
}

/* line 147, ../sass/screen.scss */
.headerImage {
  width: 100%;
}

/* line 152, ../sass/screen.scss */
.headerImage img {
  width: 100%;
}

/* line 160, ../sass/screen.scss */
#login {
  background-color: #0086CD;
  color: #ffffff;
}

/* line 164, ../sass/screen.scss */
.login {
  background-color: #0086CD;
}

/* line 168, ../sass/screen.scss */
.loginContainer {
  width: 75%;
  margin: 0 auto;
  padding: 8px 8px 8px 8px;
}

/* line 174, ../sass/screen.scss */
.headerImg {
  width: 100%;
}

/* line 178, ../sass/screen.scss */
.headerImg img {
  width: 100%;
}

/* line 182, ../sass/screen.scss */
.textContainer {
  width: 80%;
  margin: 0 auto;
}

/* line 188, ../sass/screen.scss */
.introText {
  padding: 16px 16px 16px 16px;
}

/* line 192, ../sass/screen.scss */
.introText h1 {
  padding: 8px 8px 8px 8px;
  color: #ffffff;
}

/* line 197, ../sass/screen.scss */
.introText p {
  padding: 8px 8px 8px 8px;
}

/* line 206, ../sass/screen.scss */
.mainselection {
  overflow: hidden;
  width: 100%;
  height: 5%;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: #ffffff url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 98% center;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  padding-left: 2%;
}

/* line 222, ../sass/screen.scss */
.inputLogin {
  overflow: hidden;
  width: 100%;
  height: 5%;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  padding-left: 2%;
}

/* line 236, ../sass/screen.scss */
.formHeader {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
}

/* line 243, ../sass/screen.scss */
.nextButton {
  width: 60%;
  height: 5%;
  overflow: hidden;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 0px;
  background: #86BC25;
  margin-top: 5%;
  float: right;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: #ffffff;
  margin-top: 10%;
  font-weight: bold;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 263, ../sass/screen.scss */
.undefined {
  width: 60%;
  height: 5%;
  overflow: hidden;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 0px;
  background: #4E5051;
  opacity: 0.5;
  margin-top: 5%;
  float: right;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: #ffffff;
  margin-top: 10%;
  font-weight: bold;
}

/* line 286, ../sass/screen.scss */
button:active {
  outline: none !important;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 289, ../sass/screen.scss */
button:focus {
  outline: 0 !important;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 294, ../sass/screen.scss */
.buttonContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

/* line 302, ../sass/screen.scss */
.startButton {
  width: 90%;
  float: right;
  height: 10%;
  overflow: hidden;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  background: #86BC25;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 8px 8px 8px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 323, ../sass/screen.scss */
.bonusButton {
  width: 90%;
  float: left;
  height: 10%;
  overflow: hidden;
  padding: 8px 8px 8px 8px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  background: #FFEC38;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-weight: bold;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 347, ../sass/screen.scss */
.loadingContainer {
  padding-top: 10%;
  width: 80%;
  margin: auto;
}

/* line 352, ../sass/screen.scss */
.loadingContainer h1 {
  color: #ffffff;
  text-align: center;
}

/* line 356, ../sass/screen.scss */
.loadingImage {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 361, ../sass/screen.scss */
.loadingImage img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 371, ../sass/screen.scss */
.loading {
  font-size: 30px;
}

/* line 375, ../sass/screen.scss */
.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
/* line 399, ../sass/screen.scss */
.regionTitleContainer {
  margin-top: -80px;
  position: absolute;
  height: 80px;
  width: 100%;
}

/* line 406, ../sass/screen.scss */
.regionTitle {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* line 412, ../sass/screen.scss */
.regionTitle h1 {
  color: #ffffff;
  line-height: 80px;
}

/* line 417, ../sass/screen.scss */
.regionBackground {
  width: 100%;
  height: 80vh;
}

/* line 422, ../sass/screen.scss */
.regionContent {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

/* line 428, ../sass/screen.scss */
.regionContent p {
  color: #ffffff;
  padding: 8px 8px 8px 8px;
  float: left;
}

/* line 433, ../sass/screen.scss */
.regionContent img {
  width: 95%;
}

/* line 443, ../sass/screen.scss */
.regionHeaderChemistry {
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: block;
  text-align: left;
  float: left;
  bottom: 80px;
}

/* line 454, ../sass/screen.scss */
#chemistry {
  position: absolue;
}

/* line 462, ../sass/screen.scss */
.logistics .chemistry {
  background: #E30613;
  height: 80px;
  opacity: 0.7;
  position: absolue;
}

/* line 472, ../sass/screen.scss */
.pageContainer {
  height: 100vh;
}

/* line 475, ../sass/screen.scss */
.contentContainer {
  height: 100vh;
}

/* line 479, ../sass/screen.scss */
.logo {
  width: 60%;
  margin: 0 auto;
  margin-top: 10%;
}

/* line 485, ../sass/screen.scss */
.logo img {
  width: 100%;
}

/* line 491, ../sass/screen.scss */
.loginForm {
  width: 100%;
}

/* line 501, ../sass/screen.scss */
.mapContainer {
  width: 100%;
  position: absolut !important;
}

/* line 506, ../sass/screen.scss */
.mapContainer img {
  width: 100%;
  z-index: 1;
}

/* line 511, ../sass/screen.scss */
.region {
  z-index: 2;
}

/* line 516, ../sass/screen.scss */
.menuContainer {
  float: right;
  position: fixed;
  right: 5%;
  top: 7%;
}

/* line 523, ../sass/screen.scss */
.menuContainer li {
  padding-bottom: 20%;
}
