/* line 5, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
.ng-scope {
  width: 100%;
}

/* line 25, ../sass/screen.scss */
.alpha70orange {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #ef7d00;
  /* RGBa with 0.6 opacity */
  background-color: rgba(239, 125, 0, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 35, ../sass/screen.scss */
.alpha70red {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #e30613;
  /* RGBa with 0.6 opacity */
  background-color: rgba(227, 6, 19, 0.7);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* line 64, ../sass/screen.scss */
h1 {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}

/* line 72, ../sass/screen.scss */
h3 {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}

/* line 80, ../sass/screen.scss */
p {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

/* line 88, ../sass/screen.scss */
blockquote {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

/* line 96, ../sass/screen.scss */
pre {
  font-family: "Futura", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

/* line 105, ../sass/screen.scss */
h2, h3, h4, h5, p, li {
  color: #ffffff;
  font-size: 1em;
}

/* line 110, ../sass/screen.scss */
h1 {
  font-size: 2em;
  font-weight: bold;
}

/* line 115, ../sass/screen.scss */
body {
  width: 100vw;
  height: 100vh;
}

/* line 122, ../sass/screen.scss */
.headerContainer {
  height: 80px;
  width: 100%;
  text-transform: uppercase;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: block;
  text-align: center;
}

/* line 131, ../sass/screen.scss */
#manufacturing {
  background-color: #E30613;
  color: #ffffff;
}

/* line 135, ../sass/screen.scss */
#logistics {
  background-color: #EF7D00;
  color: #ffffff;
}

/* line 140, ../sass/screen.scss */
.headerContainer h1 {
  line-height: 80px;
}

/* line 144, ../sass/screen.scss */
.headerImage {
  width: 100%;
}

/* line 149, ../sass/screen.scss */
.headerImage img {
  width: 100%;
}

/* line 157, ../sass/screen.scss */
#login {
  background-color: #0086CD;
  color: #ffffff;
}

/* line 161, ../sass/screen.scss */
.login {
  background-color: #0086CD;
}

/* line 165, ../sass/screen.scss */
.loginContainer {
  width: 75%;
  margin: 0 auto;
  padding: 8px 8px 8px 8px;
}

/* line 171, ../sass/screen.scss */
.headerImg {
  width: 100%;
}

/* line 175, ../sass/screen.scss */
.headerImg img {
  width: 100%;
}

/* line 179, ../sass/screen.scss */
.textContainer {
  width: 80%;
  margin: 0 auto;
}

/* line 185, ../sass/screen.scss */
.introText {
  padding: 16px 16px 16px 16px;
}

/* line 189, ../sass/screen.scss */
.introText h1 {
  padding: 8px 8px 8px 8px;
  color: #ffffff;
}

/* line 194, ../sass/screen.scss */
.introText p {
  padding: 8px 8px 8px 8px;
}

/* line 203, ../sass/screen.scss */
.mainselection {
  overflow: hidden;
  width: 100%;
  height: 5%;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: #ffffff url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 98% center;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  padding-left: 2%;
}

/* line 219, ../sass/screen.scss */
.inputLogin {
  overflow: hidden;
  width: 100%;
  height: 5%;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  padding-left: 2%;
}

/* line 233, ../sass/screen.scss */
.formHeader {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
}

/* line 240, ../sass/screen.scss */
.nextButton {
  width: 60%;
  height: 5%;
  overflow: hidden;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 0px;
  background: #86BC25;
  margin-top: 5%;
  float: right;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: #ffffff;
  margin-top: 10%;
  font-weight: bold;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 260, ../sass/screen.scss */
.undefined {
  width: 60%;
  height: 5%;
  overflow: hidden;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 0px;
  background: #4E5051;
  opacity: 0.5;
  margin-top: 5%;
  float: right;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: #ffffff;
  margin-top: 10%;
  font-weight: bold;
}

/* line 283, ../sass/screen.scss */
button:active {
  outline: none !important;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 286, ../sass/screen.scss */
button:focus {
  outline: 0 !important;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 291, ../sass/screen.scss */
.buttonContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

/* line 299, ../sass/screen.scss */
.startButton {
  width: 90%;
  float: right;
  height: 10%;
  overflow: hidden;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  background: #86BC25;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 8px 8px 8px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 320, ../sass/screen.scss */
.bonusButton {
  width: 90%;
  float: left;
  height: 10%;
  overflow: hidden;
  padding: 8px 8px 8px 8px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  background: #FFEC38;
  font-size: 2em;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-weight: bold;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.05s;
}

/* line 344, ../sass/screen.scss */
.loadingContainer {
  padding-top: 10%;
  width: 80%;
  margin: auto;
}

/* line 349, ../sass/screen.scss */
.loadingContainer h1 {
  color: #ffffff;
  text-align: center;
}

/* line 353, ../sass/screen.scss */
.loadingImage {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 358, ../sass/screen.scss */
.loadingImage img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 368, ../sass/screen.scss */
.loading {
  font-size: 30px;
}

/* line 372, ../sass/screen.scss */
.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
/* line 396, ../sass/screen.scss */
.regionTitleContainer {
  margin-top: -80px;
  position: absolute;
  height: 80px;
  width: 100%;
}

/* line 403, ../sass/screen.scss */
.regionTitle {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* line 409, ../sass/screen.scss */
.regionTitle h1 {
  color: #ffffff;
  line-height: 80px;
}

/* line 414, ../sass/screen.scss */
.regionBackground {
  width: 100%;
  height: 80vh;
}

/* line 419, ../sass/screen.scss */
.regionContent {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

/* line 425, ../sass/screen.scss */
.regionContent p {
  color: #ffffff;
  padding: 8px 8px 8px 8px;
  float: left;
}

/* line 430, ../sass/screen.scss */
.regionContent img {
  width: 95%;
}

/* line 440, ../sass/screen.scss */
.regionHeaderChemistry {
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: block;
  text-align: left;
  float: left;
  bottom: 80px;
}

/* line 461, ../sass/screen.scss */
.pageContainer {
  height: 100vh;
}

/* line 464, ../sass/screen.scss */
.contentContainer {
  height: 100vh;
}

/* line 468, ../sass/screen.scss */
.logo {
  width: 60%;
  margin: 0 auto;
  margin-top: 10%;
}

/* line 474, ../sass/screen.scss */
.logo img {
  width: 100%;
}

/* line 480, ../sass/screen.scss */
.loginForm {
  width: 100%;
}

/* line 490, ../sass/screen.scss */
.mapContainer {
  width: 100%;
  position: absolut !important;
}

/* line 495, ../sass/screen.scss */
.mapContainer img {
  width: 100%;
  z-index: 1;
}

/* line 500, ../sass/screen.scss */
.region {
  z-index: 2;
}

/* line 505, ../sass/screen.scss */
.menuContainer {
  float: right;
  position: fixed;
  right: 5%;
  top: 12%;
}

/* line 512, ../sass/screen.scss */
.menuContainer li {
  padding-bottom: 20%;
}

/* line 516, ../sass/screen.scss */
.mapButton {
  float: left;
  position: absolute;
  top: 7%;
  left: 1%;
}

/* line 523, ../sass/screen.scss */
.regionButton {
  float: right;
  position: absolute;
  top: 7%;
  right: 1%;
}
